bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Westpac.Evaluation.SavingsAccountCreator.sln.DotSettings.user
.idea/.idea.Westpac.Evaluation.SavingsAccountCreator/.idea/.gitignore
.idea/.idea.Westpac.Evaluation.SavingsAccountCreator/.idea/dataSources.xml
.gitignore
.idea/.idea.Westpac.Evaluation.SavingsAccountCreator/.idea/indexLayout.xml
.idea/.idea.Westpac.Evaluation.SavingsAccountCreator/.idea/encodings.xml
.gitignore
.idea/*